/**
 * author :  yangshaojun
 * create time : 2017-12-11 15:34 
 */

/* 最外层容器*/
.page-wrap {
    padding: 40px 0;
    background: #e72955;

}

/* 表单输入框*/
.user-con {
    margin: 0 auto;
    width: 400px;
    background: #fff;
    position: relative;
}

.user-con .user-title {
    text-align: center;
    padding: 10px 0;
    border-bottom: solid 1px #ddd;
    font-size: 18px;
    font-weight: bold;
    color: #666;
}

.user-con .user-box {
    padding: 20px;

}

/* 错误提示*/
.user-con .user-box .error-item {
    position: relative;
    padding: 4px 0px 4px 40px;
    margin-bottom: 10px;
    border: red 1px solid;
    color: #f00;
    background: #fde9e9;
    height: 30px;
    display: none;
}

/* 错误图标*/
.user-con .user-box .error-icon {
    position: absolute;
    left: 14px;
    top: 50%;
    margin-top: -7px;
    font-size: 15px;

}
.user-con .user-box p.err-msg{
    position: absolute;
    left: 44px;
}



.user-con .user-item {
    position: relative;
    margin-bottom: 20px;

}

.user-con .user-item .user-label {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 1px;
    width: 40px;
    height: 37px;
    line-height: 36px;
    font-size: 18px;
    color: #d3d3d3;
    background: #f3f3f3;
    text-align: center;
    border-right: 1px solid #dbdbdb;
}
.user-con .user-item .user-content {
    padding:10px 0 10px 50px;
    width: 361px;
    height: 38px;
    line-height:38px;
    bottom: 1px;
    border: solid 1px #dbdbdb;
    font-size: 15px;
        outline: none;
}

/* 登录按钮 */

.user-con .btn-submit {
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

/* 跳转链接*/

.user-con .link-item {
    text-align: right;
    
}

.user-con .link-item .link {
    margin-left:10px;
    color: #666;
    font-size: 14px;
}
