<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 引入 头部  -->
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title%> -- happymmall电商平台</title>
</head>
<body>

<!-- 引入顶部导航  -->
<%= require('html-loader!./layout/nav.html') %>

<!--  引入 header  -->
<%= require('html-loader!./layout/header.html') %>

<!--  面包屑导航   -->
<div class="crumb">
    <div class="w">
        <div class="crumb-con">
            <a href="./index.html" class="link">MMall</a>
            <span>><%= htmlWebpackPlugin.options.title%> </span>
            <span class="link-text"></span>
        </div>
    </div>
</div>


<!-- 引入页面容器  -->
<div class="page-wrap w">

    <!--  排序 按钮  -->
    <ul class="sort-con">
        <li class="sort-item active" data-type="default">默认排序</li>
        <li class="sort-item desc" data-type="price">
            <span>价格</span>
            <i class="fa fa-sort-asc"></i>
            <i class="fa fa-sort-desc"></i>
        </li>
    </ul>

    <!--  商品列表 list容器  -->
    <div class="p-list-con">
    </div>

    <!--  分页容器  -->
    <div class="pagination"></div>
</div>

<!--  引入 footer   -->
<%= require('html-loader!./layout/footer.html') %>

</body>
</html>