<div class="footer ">
    <div class="w">
        <div class="links">
            <a target="_blank" href="https://www.baidu.com" class="link">百度</a>|
            <a target="_blank" href="https://www.baidu.com" class="link">百度</a>|
            <a target="_blank" href="https://www.baidu.com" class="link">百度</a>|
            <a target="_blank" href="https://www.baidu.com" class="link">百度</a>
        </div>
        <p class="copyright">
            Copyright happymmall
        </p>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

