<div class="footer ">
    <div class="w">
        <div class="links">
            <a target="_blank" href="http://www.araya.cn/" class="link">阿赖雅</a>|
            <a target="_blank" href="http://www.tmall.com/" class="link">天猫</a>|
            <a target="_blank" href="https://www.jd.com/" class="link">京东</a>|
            <a target="_blank" href="https://www.aliyun.com/" class="link">阿里云</a>
        </div>
        <p class="copyright">
            Copyright yunhewanjia
        </p>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

